<noscript>
	<div>
        <p>Unfortunately your browser does not hava JavaScript capabilities which are required to exploit full functionality of our site. This could be the result of two possible scenarios:</p>
        <ol>
            <li>You are using an old web browser, in which case you should upgrade it to a newer version. We recommend the latest version of <a href="http://www.getfirefox.com">Firefox</a>.</li>
            <li>You have disabled JavaScript in you browser, in which case you will have to enable it to properly use our site. <a href="http://www.google.com/support/bin/answer.py?answer=23852">Learn how to enable JavaScript</a>.</li>
        </ol>
    </div>
</noscript>

<div class="coda-slider-wrapper">
	<div class="coda-slider preload" id="coda-slider-1">
		<%@popular_ideas.each do |popular_idea|%>
		<%brand = Brand.find(popular_idea.brand_id)%>	 

   	 <div class="panel">
	
			<div class="panel-wrapper">
				<h2 class="title"><%= brand.name%></h2>
					 <% if brand.image? %>	
	<%= link_to (image_tag brand.image.url(:mini)), 
        url_for({:controller => 'brands', :action => 'show', :id => brand.id}) %>
	<%end%> 
				<p><%= popular_idea.content%></p>
				<p><i class="icon-flag"></i><%= popular_idea.followers.count %> Supporters!</p>
			</div>
		</div>
	<%end%>
	</div><!-- .coda-slider -->
</div><!-- .coda-slider-wrapper -->


 
