<div class="center hero-unit">
  <h1>Welcome to Empowler</h1>

  <h2>
    Better companies for demanding consumers (Pagina principal)
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>