<li>
 <aside class="span2">
    <section>
      <h1><%= link_to brand.name, brand %> </h1>
    </section>
    <section>
        <% if brand.image? %>		
	<%=link_to image_tag(brand.image.url), url_for({:controller => 'brands', :action => 'show', :id => brand.id}) %>		
	<%end%>
    </section> 
   
   <%if not current_user == nil%>
	<% if current_user.admin?%>
      | <%= link_to "delete", brand, method: :delete,
                    data: { confirm: "You sure?" } %>
  <% end %>
  <% end %>
  </aside>
 <aside class="span8">
	<% if brand.ideas.any? %>        
        <table>    
	<tr>      
        <%= render 'ideas/idea',:idea => brand.ideas.first %> 
	
	</tr>       
        </table>        
    	<% end %>
        
 </aside>
</li>
