<footer class="footer">
  <small>
    by Rodrigo Cuevas
  </small>
  <nav>
    <ul>
    <li><%= link_to "Quienes somos",    url_for({:controller => 'static_pages', :action => 'about'}) %></li>
  
    </ul>
  </nav>
</footer>
